body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    padding: 8px 24px;
    font-weight: 600;
    width: fit-content;
}

/* HEADER */

header {
    background-color: #1f2937;
    padding: 20px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 0;
    margin: 0;
}

.header-links {
    margin: 0;   
    font-size: 18px;
    list-style-type: none;
    font-weight: 200;

    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* HERO */

.hero {
    background-color: #1f2937;
    padding: 80px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero img {
    width: 500px;
    height: auto;
}

.main-title{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.description {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 200;
}

/* INFO AND PHOTO CARDS */

.info { 
    display: flex; 
    flex-direction: column; 
    padding: 20px 100px; 
} 
    
.info-title { 
    color: #1f2937; 
    margin: 0;
    padding: 0;
    font-weight: 900; 
    font-size: 36px; 
    display: flex; 
    justify-content: center; 
} 

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards figure {
    text-align: center;
    margin: 1em;
}
.cards img {
    width: 200px;
    height: auto;
    border-radius: 5px;
    border: #3882f6 solid 2px;
}

/* QUOTE SECTION */

.quote {
    background-color: #E5E7EB;
    padding: 40px 300px;
    margin: 0px;

    display: flex;
    flex-direction: column;
}

.quote h2 {
    font-weight: 300;
    color: #1f2937;
    font-size: 36px;
}

.quote p {
    display: flex;
    justify-content: flex-end;
}

