body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 8px 20px;
    font-weight: 600;
    width: fit-content;
}

/* HEADER */

header {
    background-color: #1f2937;
    padding: 20px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 0;
    margin: 0;
}

.header-links {
    margin: 0;   
    font-size: 18px;
    list-style-type: none;
    font-weight: 200;

    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* HERO */

.hero {
    background-color: #1f2937;
    padding: 80px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero img {
    width: 500px;
    height: auto;
}

.main-title{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.description {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 200;
}

/* INFO AND PHOTO CARDS */

.info { 
    padding: 40px 100px; 

    display: flex; 
    flex-direction: column; 
} 
    
.info-title { 
    color: #1f2937; 
    margin: 0;
    font-weight: 900; 
    font-size: 36px; 

    display: flex; 
    justify-content: center; 
    align-items: center;
} 

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.cards figure {
    margin: 0;
    text-align: center;
}
.cards img {
    width: 250px;
    height: auto;
    border-radius: 5px;
    border: #3882f6 solid 2px;
}

/* QUOTE SECTION */

.quote {
    background-color: #E5E7EB;
    padding: 120px 0;
}

.quote-container {
    max-width: 800px;
    margin: 0 auto;
}

.quote h2 {
    font-weight: 300;
    color: #1f2937;
    font-size: 36px;
    margin: 0 0 20px 0;
}

.quote p {
    text-align: right;
    font-weight: 700;
    margin: 0;
}
/* CTA SECTION */

.CTA {
    padding: 100px 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box {
    background-color: #3882f6;
    padding: 40px 80px;
    border-radius: 8px;

    display: flex;
}

.left-text h3 {
    color: white;
    margin: 0;
}

.left-text p {
    color: #E5E7EB;
    margin: 0;
}

.left-text {
    margin-right: 50px;
}

.blue-box button {
    border: 2px solid white;
}